body {
    font-family : 'Raleway', sans-serif ;
   /* margin-left: 50px;
    margin-right: 50px;*/
}

html {
    scroll-behavior: auto;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
}
.nav {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    
    

}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    /*margin-right: 510px;*/
        
}

.w50 {
    margin-right: 100px;
    /*margin-right: 3rem;*/
    text-transform: capitalize;
    align-items: center;
    font-weight: 500;
    
    
}

.bleugras {
    margin-right: 2rem;
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
}

.bleugras a {
    color:  #0065FC;
    text-decoration: none;
   /*letter-spacing: 1.2px;*/
    font-size: large;
}

.w50 a {
    text-decoration: none;
    color: #8F8F8F;
    /*letter-spacing: 1.2px;*/
    font-size: large;
    
}

.heb:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}

.trait:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;
    padding-top: 20px;
}

#logo {
    width: 10%;
    height: auto;
    /*justify-content: flex-start;*/
    margin-top: 9px;
    /*height: 70px;*/
}

h1 {
    margin-top: 20px;
    font-size: x-large;
}

h2 {
    font-size: medium;
    font-weight: normal;
}

#map {
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 5px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; 
    background-color: #ECEBED; 
}

#maRecherche {
    width: 200px;
    height: 30px;
    /*margin-right: 0;*/
    margin-left: 0px;
    border: 1px #F4F3F5 solid;
    border-left: none;
    border-right: none;
    font-weight: bolder; 
}

input::placeholder {
    color:black;

}

.myButton {
    color: white;
    background-color: #0065FC;
    width: 100px;
    height: 30px;
    text-align: center;
    border: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;      
}

.filtre {
    font-size: large;
    font-weight: bold;
    /*position:fixed;*/
    margin-top: 30px;
    display: inline-block; 
}

.conteneur-filtres {
    display: inline-block;
}

#nav2 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

#nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
    /*padding-left: 50px;*/
}

.eco{
    /*padding-left:100px;*/
    text-transform: capitalize;
    align-items: center;
    font-weight: bold; 
    margin-right: 2rem;
    font-size: large;
    
             
}

.eco a {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 60px;
    margin-left:-2px;
    padding: 6px;
    padding-bottom: 3px;
    /*padding-right: 10px;*/
    /*padding: 6px 8px;*/
    border: 2px #E9EDEF solid;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px; 
    border-left: none;
         
}

.eco a:hover {
    border-right: 3px solid #0065FC;
}

.fam{
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
    margin-right: 2rem;
    font-size: large;
    /*padding-left: 150px;*/
}

.fam a {
    color: black;
    text-decoration: none;
    width: 100%;
   /* width: 500px;*/
    height: 60px;
    margin-left:-2px;
    padding: 6px;
    padding-bottom: 3px;
    /*padding: 6px 8px;*/ 
    border: 2px #E9EDEF solid;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px; 
    border-left: none;   
}

.fam a:hover {
    border-right: 3px solid #0065FC;
}


.rom {
    /*margin-right: 64rem;*/
    /*margin-left: auto;*/
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
    margin-right: 2rem;
    font-size: large;
    /*padding-left: 150px;*/
    /*position: fixed;*/
}

.rom a {
    color: black;
    text-decoration: none;
    width: 100%;
    /*width: 500px;*/
    height: 60px;
    margin-left:-2px;
    padding: 6px;
    padding-bottom: 3px;
    /*padding: 6px 8px;*/ 
    border: 2px #E9EDEF solid;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px; 
    border-left: none;
    /*letter-spacing: 1.2px;*/
}

.rom a:hover {
    border-right: 3px solid #0065FC;
}


.animaux {
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    /*margin-right: 2rem;*/
    /*margin-right: -10px;*/
    
}

.animaux a {
    color: black;
    text-decoration: none;
    width: 100%;
    /*width: 500px;*/
    height: 60px;
    margin-left:-2px;
    padding: 6px; 
    padding-bottom: 3px;
    border: 2px #E9EDEF solid;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px; 
    border-left: none;
    /*font-size: large;*/

}

.animaux a:hover {
    border-right: 3px solid #0065FC;
}


#economique {
    color: #0065FC;
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 3px;
    border: none;
    border-radius: 17px; 
    background-color: #D9EAF7;
    margin-right: -0.70em;     
}

#familial {
    color:#0065FC;
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 3px;
    border: none;
    border-radius: 17px; 
    background-color: #D9EAF7;
    margin-right: -0.70em;  
}

#Romantique {
    color: #0065FC;
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 3px;
    border: none;
    border-radius: 17px; 
    background-color: #D9EAF7;
    margin-right: -0.70em; 
}

#animaux {
    color: #0065FC;
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 3px;
    border: none;
    border-radius: 17px; 
    background-color: #D9EAF7;
    margin-right: -0.70em; 
}

#info {
   color: #0065FC;
    width: 41px;
    height: 22.5px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 3px;
    border: 2px #e5e5e6 solid; 
    border-radius: 20px; 
    /*position:fixed;*/
}

.infoLogement {
    /*margin-right: 2rem;*/
    margin-left: 1rem;
    margin-top: 10px;
    display: inline-block;
    /*position: fixed;*/  
    /*color:green*/
}

.infolog {
    margin-top: 5px;
}

#global {
    display: flex; 
}

#conteneur {
    background-color: #ECEBED;
    width: 70%;
    margin-right:3rem;
    border-radius: 10px;
    height: 720px;   
}

.rang1 {
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 50px;
      
}

.rang2 {
    padding-top:30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 50px;  
}

#hebergement {
    padding-top: 5px;
    padding-left: 100px;
    font-size: large;     
}

.img1 {
    width: 300px;
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid; 
          
}

.h4lacanneBiere {
    margin-top: 4px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
    /*text-align: center;*/
    
}

.h5lacanneBiere {
    margin-top: -12.1px;
    padding-top: 1px;
    padding-left: 13px;
    /*margin-top: -0.50em;*/
    font-weight: normal;
    font-size: smaller;        
}

strong {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.etoiles {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
} 

#star1 {
    color: #0065FC;
}

#star2 {
    color: #0065FC;
}

#star3 {
    color: #0065FC;
}

#star4 {
    color: #0065FC;   
}

#star5 {
    color: #d7d7d8;   
}

.legende1 {
    width: 304.1px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px; 
}

.art1 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.img2 {
    width: 300px;
    /*height: 90px;*/
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid;  
}

.h4hotelduport {
    margin-top: 3px;
    font-weight: 900;
    font-size: small;
    padding-left: 13px;

    /*text-align: center;*/
}

.h5hotelduport {
    margin-top: -13.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles2 {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star6 {
    color: #0065FC;
}

#star7 {
    color: #0065FC;
}

#star8 {
    color: #0065FC;
}

#star9 {
    color: #0065FC;   
}

#star10 {
    color: #0065FC;  
}

.legende2 {
    width: 304.1px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;   
}

.art2 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.img3 {
    width: 300px;
    /*height: 90px;*/
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid;  
}

.h4lesmouettes {
    margin-top: 3px;
    font-weight: 900;
    font-size: small;
    padding-left: 13px;


    /*text-align: center;*/
}

.h5lesmouettes {
    margin-top: -13.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles3 {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star11 {
    color: #0065FC;
}

#star12 {
    color: #0065FC;
}

#star13 {
    color: #0065FC;
}

#star14 {
    color: #0065FC;   
}

#star15 {
    color: #d7d7d8;  
}

.legende3 {
    width: 304px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;   
}

.art3 a {
    list-style: none;
    text-decoration: none;
    color: black;
}


.img4 {
    width: 300px;
    /*height: 90px;*/
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid;
    /*margin-top: 2px;*/
}

.h4hoteldelamer {
    margin-top: 3px;
    font-weight: 900;
    font-size: small;
    padding-left: 13px;

    /*text-align: center;*/
}

.h5hoteldelamer {
    margin-top: -13.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles4 {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star16 {
    color: #0065FC;
}

#star17 {
    color: #0065FC;
}

#star18 {
    color: #0065FC;
}

#star19 {
    color: #d7d7d8;   
}

#star20 {
    color: #d7d7d8;  
}

.legende4 {
    width: 304px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;   
}

.art4 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.img5 {
    width: 300px;
    /*height: 90px;*/
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid;  
}

.h4lepanier {
    margin-top: 3px;
    font-weight: 900;
    font-size: small;
    padding-left: 13px;
    /*text-align: center;*/
}

.h5lepanier {
    margin-top: -13.1px;
    padding-top: 1px;
    padding-left: 13px;
    /*padding-left: 13px;*/
    font-weight: normal;
    font-size: smaller;         
}

.etoiles5 {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star21 {
    color: #0065FC;
}

#star22 {
    color: #0065FC;
}

#star23 {
    color: #0065FC;
}

#star24 {
    color: #0065FC;   
}

#star25 {
    color: #d7d7d8;  
}

.legende5 {
    width: 304px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;   
}

.art5 a {
    list-style: none;
    text-decoration: none;
    color: black;
}


.img6 {
    width: 300px;
    /*height: 90px;*/
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-bottom: 7px white solid;  
}

.h4chezamina {
    margin-top: 3px;
    font-weight: 900;
    font-size: small;
    padding-left: 13px;
    /*text-align: center;*/
}

.h5chezamina {
    margin-top: -13.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles6 {
    margin-top: -17.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star26 {
    color: #0065FC;
}

#star27 {
    color: #0065FC;
}

#star28 {
    color: #0065FC;
}

#star29 {
    color: #0065FC;   
}

#star30 {
    color: #0065FC;  
}

.legende6 {
    width: 304px;
    /*width: 192.1px;*/
    height: 75px;
    border: 2px white solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;  
}

.art6 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.affiche {
    padding-top: 20px;
    padding-left: 100px;
    font-size: large;
}

.conteneur1 {
    background-color: #ECEBED;
    width: 520px;
    border-radius: 10px;    
}

#populaires {
    display: inline-block;
    padding-left: 60px;
    font-size: large;
    margin-right:13rem;
    
}

.img7 {
    width: 250px;
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-right: 7px white solid;
    /*border-bottom: 7px white solid; */
    float: left;
          
}

.h4soleildumatin {
    margin-top: 10px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
    /*text-align: center;*/
    
}

.h5soleildumatin {
    margin-top: -12.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles7 {
    margin-top: -17.1px;
    padding-top: 60px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star31 {
    color: #0065FC;
}

#star32 {
    color: #0065FC;
}

#star33 {
    color: #0065FC;
}

#star34 {
    color: #0065FC;   
}

#star35 {
    color: #0065FC;  
}

.legende7 {
    width: 410px;
    /*width: 304px;*/
    height: 174px;
    /*height: 75px;*/
    border: 2px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -10.30px;
    
}

.art7 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.section1 {
    margin-top: 10px;
    padding-left: 50px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;*/
}


.img8 {
    width: 250px;
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-right: 7px white solid;
    float: left;
          
}

.h4aucoeurdeleau {
    margin-top: 10px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
      
}

.h5aucoeurdeleau {
    margin-top: -12.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles8 {
    margin-top: -17.1px;
    padding-top: 80px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star36 {
    color: #0065FC;
}

#star37 {
    color: #0065FC;
}

#star38 {
    color: #0065FC;
}

#star39 {
    color: #0065FC;   
}

#star40 {
    color: #d7d7d8;  
}

.legende8 {
    width: 410px;
    /*width: 304px;*/
    height: 174px;
    /*height: 75px;*/
    border: 2px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
   /* margin-top: -10.30px;*/
    
}

.art8 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.art8 {
    margin-top: 40px;
}


.img9 {
    width: 250px;
    height: 170px;
    border: 4px white solid;
    border-radius: 10px;
    border-right: 7px white solid;
    float: left;
          
}

.h4hoteltoutbleu {
    margin-top: 10px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
    /*text-align: center;*/
    
}

.h5hoteltoutbleu {
    margin-top: -12.1px;
    padding-top: 1px;
    padding-left: 13px;
    font-weight: normal;
    font-size: smaller;        
}

.etoiles9 {
    margin-top: -17.1px;
    padding-top: 80px;
    padding-left: 13px;
    font-size: xx-small; 
}

#star41 {
    color: #0065FC;
}

#star42 {
    color: #0065FC;
}

#star43 {
    color: #0065FC;
}

#star44 {
    color: #0065FC;   
}

#star45 {
    color: #d7d7d8;  
}

.legende9 {
    width: 410px;
    /*width: 304px;*/
    height: 174px;
    /*height: 75px;*/
    border: 2px white solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
   /* margin-top: -10.30px;*/
    
}

.art9 a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.art9 {
  margin-top: 40px;
}



#activite {
    padding-top: 50px;
}


.global {
    display: flex; 
}


.activite1 {
    width: 100%;
    height: 600px; 
    /*background-color: #ECEBED;*/
   /* background-color: red;*/
    border-radius: 10px;
    margin-top: -10px;
    /*margin-right: 3rem;*/
    display: flex;
    
}

.art10 {
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
       
}

.h4vieuxport{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img10 {
    width: 400px;
    height: 500px;
    /*border: 4px white solid;*/
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 7px white solid;*/
    
}

.art10 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende10 {
    width: 399.1px;
    height: 70px;
    /*border: 2px white solid;*/
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 2px #ecedee;
    
}



.activite2 {
    width: 20%;
    height: 600px;
    /*background-color: #ECEBED;*/
    border-radius: 10px; 
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    
}

.art11 {
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.h4promegues{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img11 {
    width: 300px;
    height: 190px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.art11 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende11 {
    width: 300px;
    height: 75px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 1px #ecedee; 
    
}

.art12 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.h4frioul{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img12 {
    width: 300px;
    height: 190px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 7px white solid;*/

}

.art12 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende12 {
    width: 300px;
    height: 75px;
    /*border: 2px white solid;*/
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 1px #ecedee; 
    
}

.activite3 {
    width: 400px;
    height: 600px;
    /*background-color: #ECEBED;*/
    border-radius: 10px; 
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
    margin-left: 5rem;
    
    
}

.art13 {
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
       
}

.h4parcnational{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img13 {
    width: 400px;
    height: 500px;
    /*height: 500px;*/
    /*border: 4px white solid;*/
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 7px white solid;*/
    
}

.art13 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende13 {
    width: 399.1px;
    height: 70px;
    /*border: 2px white solid;*/
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 2px #ecedee;
    
}





.activite4 {
    width: 400px;
    /*width: 300px;*/
    height: 600px;
    /*background-color: #ECEBED;*/
    border-radius: 10px; 
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    
}

.art14 {
    padding-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.h4notredame{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img14 {
    width: 300px;
    height: 190px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.art14 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende14 {
    width: 300px;
    height: 75px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 1px #ecedee; 
    
}

.art15 {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.h4longchamp{
    padding-top: 30px;
    padding-left: 13px;
    font-weight: 900;
    font-size: small;
}
.img15 {
    width: 300px;
    height: 190px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 7px white solid;*/

}

.art15 a {
    list-style: none;
    text-decoration: none;
    color: black;
    
}

.legende15 {
    width: 300px;
    height: 75px;
    /*border: 2px white solid;*/
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    margin-top: -25.30px;
    box-shadow: 2px 2px 2px 1px #ecedee; 
    
}

.contenu-footer {
    width: 100%;
    margin-top: 20px;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 30px 0 30px;
    background-color: #ECEBED;
}

.bloc {
    width: 50%;
    margin: 0 30px;
    border: 2px solid black;
}

/* contenu-footer */
.footer-apropos h4,
.footer-hebergements h4,
.footer-assistance h4 {
    font-size: 25px;
    padding-bottom: 20px;
}

/* A propos */
.liste-apropos,
.liste-hebergements,
.liste-assistance {
    list-style-type: none;
    position: relative;
    right: 42px;
}

.liste-apropos li,
.liste-hebergements li,
.liste-assistance li {
    padding: 5px 0;
}
.liste-apropos a,
.liste-hebergements a,
.liste-assistance a {
    text-decoration: none;
    color: #777474;

}

/* Media queries */

@media all and (max-width: 640px)
{
    header
    {
        width: 600x;
        /*flex-wrap: wrap;*/
        flex-direction: column;
        
    }

    .entete

    {
        width: 600px;
        margin: 10px 10px;
    }

    .nav {

        margin-top: 0;
        width: 60%;

    }

   #logo

   {
       width: 90px;
       height: 40px;
   }  
   
   .nav .bleugras

   {
       position: absolute;
       right: 0;
       top: 30px;
   }

   #nav2

   {
       flex-wrap: wrap;
   }

   #global 

   {
       flex-direction: column;
   }

   .activite1

   {
       flex-direction: column;
   }

}
    




@media screen and (max-width: 640px) {
    .contenu-footer {
        width: 320px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }

}
    






